.top-container {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  width: 100%;
}

.info-container {
  padding: 0.75rem 1rem;
  border: 0.0625rem solid var(--bs-primary-border-subtle);
  background-color: var(--bs-primary-bg-subtle);
  color: var(--bs-primary-text-emphasis);
  line-height: 1.5;
}

.bottom-container {
  background-color: #000;
  color: #fff;
}

.main-container {
  flex: 1;
}

.avatar {
  border-radius: 50%;
  width: 18.75rem;
  height: auto;
}

@media (max-width: 61.99875rem) {
  .avatar {
    width: 16rem;
  }
}
